/.idea/
/venv/
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars

/terraform/modules/security/resources/api_key/api_keys.json
/.env
